footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: white;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}
.footerHead {
  padding: 30px 150px;
}

.desktop-sections {
  display: flex;
  flex-wrap: wrap;
  margin-top: 35px;
  padding-right: 180px;
}

.footer-section {
  flex: 1;
  margin: 10px;
}

.footer-sec2 {
  padding: 30px 150px;
}

.footer-section h1 {
  cursor: pointer;
}

.contact-info {
  margin-top: 11px;
}

.gap-column {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer-section3 {
  padding: 30px 150px;
}
.last-div {
  display: flex;
  gap: 20px;
}

.line {
  background-color: #e4e2e2;
  height: 1px;
  margin-top: 40px;
  width: 100%;
}
.name .logo {
  transform: rotate(90deg);
  transition: transform 0.3s ease-in-out;
}

.logo.rotate {
  transform: rotate(-90deg);
  transition: transform 0.3s ease-in-out;
}

/* Name styling */
.mobile-select .name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 20px;
  border-top: 1px solid #ccc;
  width: 100%;
}
.last-wrapper {
  border-bottom: 1px solid #ccc;
}
/* Arrow styling */
.mobile-select .logo {
  font-size: 20px;
  transition: transform 0.3s ease-in-out;
}

/* Option styling */
.mobile-select .option {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.6s ease-out;
  padding: 0 20px;
  width: 100%;
  box-sizing: border-box;
}
.option p {
  margin-top: 20px;
  margin-bottom: 20px;
}
.contact-info svg {
  background-color: rgb(225, 223, 223);
  border-radius: 5px;
  width: 50px;
  height: 50px;
  padding: 15px;
  transition: fill 0.3s ease;
}
.contact-info svg:hover {
  fill: blue;
}
.social {
  display: flex;
  gap: 10px;
}

/* Hide mobile select and show desktop sections on large screens */
@media (min-width: 769px) {
  .mobile-select {
    display: none;
  }

  .desktop-sections {
    display: flex;
  }

  .footer-section {
    display: flex;
  }
}
@media screen and (max-width: 1180px) {
  .footerHead,
  .footer-sec2,
  .footer-section3 {
    padding: 20px 40px;
    font-size: 13px;
  }
  .footer-sec2 {
    gap: 30px;
  }
  .desktop-sections {
    padding-right: 80px;
  }
}
@media (min-width: 1600px) {
  .desktop-sections {
    padding-right: 20%;
  }
  .footerHead {
    padding-right: 10%;
  }
}

@media (min-width: 2000px) {
  .desktop-sections {
    padding-right: 20%;
  }
  .footerHead {
    padding-right: 14%;
  }
}

/* Hide desktop sections and show mobile select on small screens */
@media (max-width: 820px) {
  .footerHead,
  .footer-section3 {
    padding: 20px;
  }
  .mobile-select {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
  }
  .desktop-sections {
    display: none;
  }

  .footer-section {
    display: none;
  }

  .footer-section p {
    display: none;
  }

  /* Show paragraphs when h1 is clicked */
  .footer-section.active p {
    display: block;
  }
  .footer-section3 {
    font-size: 12px;
    flex-direction: column-reverse;
    gap: 20px;
  }

  .last-div {
    font-size: 12px;
    justify-content: flex-start;
  }
}
